@use "../tools/mixins";
@use "../base/variables";


/*
.Party {
  @include mixins.flex(space-between, center);
  gap: 0.625rem;
  margin: 0.4375rem 0 0.4375rem 0;
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
  background-color: map-get(variables.$colors, "light");
  border-radius: 0.625rem;

  &-name {
    font-family: map-get(variables.$fonts, "title");
    color: map-get(variables.$colors, "black-primary");
    font-size: 1.375em;
  }

  &-vote {
    font-family: map-get(variables.$fonts, "subtitle");
    color: map-get(variables.$colors, "secondary");
    font-weight: bold;
  }

  &-p {
    gap: 5px;
    @include mixins.flex(center, center, column);
    color: map-get(variables.$colors, "black-secondary");
    font-family: map-get(variables.$fonts, "text");
  }
}
*/

.Grid-container {
  display: grid;
  gap: 8px; /* Espacio entre las celdas */
  padding: 16px; /* Espaciado alrededor de la cuadrícula */
  border: 1px solid #ccc; /* Borde para la cuadrícula */
  background-color: #f9f9f9; /* Color de fondo de la cuadrícula */
}

/* Estilos para las filas de la cuadrícula */
.Grid-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /* Ocho columnas */
  align-items: center;
  border-top: 1px solid #ccc; /* Borde superior de cada fila */
  padding: 8px 0; /* Espaciado vertical de cada fila */
}

/* Estilos para las celdas de la cuadrícula */
.Grid-cell {
  padding: 4px 8px; /* Espaciado dentro de las celdas */
  border-right: 1px solid #ccc; /* Borde derecho para separar las columnas */
  position: relative; /* Para posicionar el subrayado */
}

/* Estilos para subrayar la celda con el número mayor */
.Grid-cell-highest {
  border-bottom: 2px solid #007bff; /* Subrayado para la celda con el número mayor */
}

/* Estilos para resaltar la celda con la división */
.Grid-cell-division {
  background-color: #ffff66; /* Fondo amarillo para la celda con la división */
  font-weight: bold;
}

/* Agrega estos estilos a tu archivo CSS o componente de estilo */

.Grid-cell {
  border: 1px solid #ccc;
  padding: 8px;
}

.max-value {
  font-weight: bold;
  text-decoration: underline;
  color: blue;
}


/* Agrega estos estilos a tu archivo CSS o componente de estilo */

.subcount {
  font-weight: bold;
  color: black;
}

.multiple-subcount {
  color: red;
}

/* Estilos para los encabezados */
.Grid-header {
  display: grid;
  grid-template-columns: 1fr 1fr repeat(var(--num-columns), 1fr); /* Ajusta esto según tus necesidades */
  gap: 5px; /* Ajusta el espacio entre celdas si es necesario */
  align-items: center; /* Centra verticalmente el contenido */
  font-weight: bold;
}

.Grid-cell {
  /* Estilos generales de las celdas */
  padding: 8px;
  border: 1px solid #ccc;
}

/* Estilos específicos para los encabezados */
.Grid-cell.header {
  background-color: #f0f0f0; /* Color de fondo para los encabezados */
}
